      <div class="row-fluid">
      	<div class="col-md-9">
      		<p style="margin-top: 20px; color: red; font-size: 30px">
      			<%= link_to "VENUES", venues_path %>
      			
      		</p>
      	</div>
      	<div class="col-md-3">
      		<p style="margin-top: 20px; color: red; font-size: 30px; text-align: right">
      			<%= link_to "+", new_venue_path %>
      		</p>
      	</div>
      </div>
      <%= bootstrap_flash %>